$site-heading-font-size:20px;
$site-color: #b3ffff;
$site-font-family: 'Lato', sans-serif;
body{
  background-color:$site-color;
}
img, embed, object, video
  { max-width:100%;}

  /* Header */
  #wj_header {
    position: relative;
  }
  #wj_logo{
    float:left;
  }
  #wj_heading {
    width:70%;
    float:right;
    font-weight: 900;
    font-size:$site-heading-font-size;
    font-family: 'Galada', cursive;
  }
  /* /Header /*

/*Slider*/
#wj_slider{

}
/* /Slider */

/* Summary */
#wj_summary {
  font-family: $site-font-family;
  font-weight: 600;
}
/* /Summary */

.tab-panels ul {
    margin: 0;
    padding: 0;
}

.tab-panels ul li {
  list-style-type: none;
  display: inline-block;
  background: #999;
  margin: 0;
  padding: 3px 10px;
  border-radius: 10px 10px 0 0;
  color: #fff;
  font-weight: 200;
  cursor: pointer;
}
.tab-panels ul li:hover {
  color: #fff;
  background: #666;
}
.tab-panels ul li.active {
  color: #fff;
  background: #666;
}
.tab-panels .panel {
  display:none;
  background: #c9c9c9;
  padding: 30px;
  border-radius: 0 0 10px 10px;
}
.tab-panels .panel.active {
  display:block;
}
