#slider {
    width: 720px;
    height: 400px;
    overflow: hidden;
}

#slider .slides {
    display: block;
    width: 6000px;
    height: 400px;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    list-style-type: none;
    width: 720px;
    height: 400px;
}
.tab-panels ul {
    margin: 0;
    padding: 0;
}

.tab-panels ul li {
  list-style-type: none;
  display: inline-block;
  background: #999;
  margin: 0;
  padding: 3px 10px;
  border-radius: 10px 10px 0 0;
  color: #fff;
  font-weight: 200;
  cursor: pointer;
}
.tab-panels ul li:hover {
  color: #fff;
  background: #666;
}
.tab-panels ul li.active {
  color: #fff;
  background: #666;
}
.tab-panels .panel {
  display:none;
  background: #c9c9c9;
  padding: 30px;
  border-radius: 0 0 10px 10px;
}
.tab-panels .panel.active {
  display:block;
}

#thickbox {
  /*so that the webpage doesnt make space for the thickbox */
  position: absolute;
  left: 50%;
  width: 70%;
  max-width: 700px;
  background-color: #fff
  border: 1px solid #aaa;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 3px 3px 8px rgba(0,0,0,.6);
  transform: translate(-50%, 0);
  z-index: 2;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.thickbox-shade {
  position:fixed;
  height: 100%;
  width:100%;
  background-color: rgba(0,0,0,.7);
  z-index: 1;
}
